<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="page-top">


<div id="home" class="intro route bg-image" style="background-image: url(img/intro1.jpg)">
 
</div>
<!--/ Intro Skew End /-->

<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6 " style="background: #506578 "   >
              <div class="row"> 
                <div class="col-sm-6 col-md-6">
                    <br>
                  <div class="about-img">
                    <img src="assets/intro1.jpg" class="img-fluid rounded b-shadow-a" alt="">
                  </div>
                </div>
               

              </div>
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">
           ABOUT ME
                  </h5>
                </div>
                <p  class="title-saa">
                I am passionate about working with technology. I believe it is a tool that makes the world achieve its goals faster, error free and accurately at the same time. I am a motivated and driven young person with skill to utilize. I believe I can be an asset to any organization if given an opportunity. Progressive as technology is, I am willing to learn anything and any new IT trend.
                </p>
                <div class="skill-mf">
                  <h5 class="title-left">
                CONTACT<a routerLink="/contact-us" ><img src="https://img.icons8.com/dusk/64/000000/more-than.png"></a>
   
                     </h5>
                      <p ><span class="title-saa"><img src="https://img.icons8.com/metro/26/000000/marker.png"> </span> <span  class="title-saa"> &nbsp;10437 riverside Moilwa Street      </span></p>
                      <p><span class="title-sa"><img src="https://img.icons8.com/metro/26/000000/phone.png"> </span> <span  class="title-saa">   &nbsp; 074 723 2116</span></p>
                      <p><span class="title-sa"><img src="https://img.icons8.com/ios/26/000000/secured-letter-filled.png"> </span> <span class="title-saa"> &nbsp;sisekodolwana17@gmail.com</span></p>
                  
                </div>
              </div>
              <div class="skill-mf">
                <h5 class="title-left">
               SKILLS
 
                   </h5>
                  
                
                <p  class="title-saa">PHP</p> <span class="pull-right"></span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              
          <p  class="title-saa">JAVA SE</p> <span class="pull-right"></span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <p  class="title-saa">SQL</p> <span class="pull-right"></span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <p  class="title-saa">PL/SQl</p> <span class="pull-right"></span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <p  class="title-saa">HTML5</p> <span class="pull-right"></span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <p  class="title-saa">CSS</p> <span class="pull-right"></span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
         <p  class="title-saa">JAVA EE</p> <span class="pull-right"></span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>
            </div>

           <div class="col-md-6" style="background: #f9f9f9">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                    <h4 class="title-lefta">
                       SISEKO DOLWANA
                      </h4>
                     
                        <h1>SOFTWARE DEVELOPER</h1>
                       
                  <br><br>
                  <h6 class="title-left">
                    CAREER OBJECTIVES
                  </h6>
                </div>
                <p class="lead">
                  Seeking for a Software Developer position in a fast growing organization to utilize expertise in software development and testing, as well as deployment and support using agile development methodologies. Coming with well honed skills in computer science in addition to excellent communication skills
                </p>
                <h6 class="title-left">
               EDUCATION
                </h6>
                <table class="table table-borderless">
                  <tbody>
               
                    <tr>
                      <td><b>2019</b></td>
                        <td><b>Baccalaureus Technologae</b><br>Information technology(Techinical Application)<br> Tshwane University of technology </td>
                     
                    </tr>
                    <tr>
                      <td><b>2018</b></td>
                      <td><b>National Diploma</b> <br>Information technology(Techinical Application)<br> Tshwane University of technology</td>
                    </tr>
                    
                  </tbody>
                 
                      
                </table>
                <h6 class="title-left">
                  EXPERIENCE
                    </h6>
                    <table class="table table-borderless">
                      <tbody>
                        <tr>
                          <td><b>2018</b></td>
                          <td ><b>Thaboera IT Solutions-</b>Junior Software Developer<br>Front end development using HTML5, CSS3 , bootstrap and JQeury<br> Backend development using Javascript and PHP<br>Building in house systems </td>
                        
                        </tr>
                        <tr>
                          <td><b>2017</b></td>
                          <td ><b>Sage Informatics-</b>Intern<br>Front end development using HTML5, CSS3 , bootstrap and JQeury<br> Backend development using Javascript and PHP</td>
                        </tr>
                       
                        
                      </tbody>
                     <br>
                          
                    </table>
                    <div class="about-me pt-4 pt-md-0">
                      <div class="title-box-2">
                          <h6 class="title-left">
                             HOBBIES
                                </h6>
                        
                        <table class="table table-hover" >
              
                          <tbody>
                            <tr>
                              <td>Piano Tutor</td>
                              <td  >Church Pianist</td>
                              <td >Coding</td>
                            </tr>
                            <tr>
                              <td >Choir Master</td>
                              <td >Watching Soccer</td>
                              <td >Playing Fifa with friends</td>
                            </tr>
                         
                          </tbody>
                        </table>
                      </div>
                      <p class="lead">
                        
                      </p>
                    
                    </div>
                    <table class="table table-borderless" style="text-align:center">
                      <tbody>
                        <tr>
                          <td> <a href="#" class="fa fa-facebook"></a></td>
                          <td>  <a href="#" class="fa fa-instagram"></a></td>
                          <td>  <a href="#" class="fa fa-linkedin"></a></td>
                        </tr>
                       
                        
                      </tbody>
                     
                          
                    </table>
                  

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  
</body>